<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>login.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9210BAA1D5214F300DFF874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9210BBE1D5214F400DFF874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9210BC91D5214F400DFF874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
